@font-face {
    font-family: "firstPoint";
    src:url('../firstPoint.ttf') format('truetype'),
        url('../firstPoint.woff') format('woff'),
        url('../firstPoint.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-first"], [class*=" icon-first"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "firstPoint" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-first-01:before {
	content: "\E001";
}

.icon-first-02:before {
	content: "\E002";
}

.icon-first-03:before {
	content: "\E003";
}

.icon-first-04:before {
	content: "\E004";
}

.icon-first-05:before {
	content: "\E005";
}

.icon-first-06:before {
	content: "\E006";
}

.icon-first-07:before {
	content: "\E007";
}

.icon-first-08:before {
	content: "\E008";
}

.icon-first-09:before {
	content: "\E009";
}

.icon-first-10:before {
	content: "\E00A";
}

.icon-first-11:before {
	content: "\E00B";
}

.icon-first-12:before {
	content: "\E00C";
}

.icon-first-13:before {
	content: "\E00D";
}

.icon-first-14:before {
	content: "\E00E";
}

.icon-first-15:before {
	content: "\E00F";
}

.icon-first-16:before {
	content: "\E010";
}

.icon-first-17:before {
	content: "\E011";
}

.icon-first-18:before {
	content: "\E012";
}

.icon-first-19:before {
	content: "\E013";
}

.icon-first-20:before {
	content: "\E014";
}

.icon-first-21:before {
	content: "\E015";
}

.icon-first-22:before {
	content: "\E016";
}

.icon-first-23:before {
	content: "\E017";
}

.icon-first-24:before {
	content: "\E018";
}

.icon-first-25:before {
	content: "\E019";
}

.icon-first-26:before {
	content: "\E01A";
}

.icon-first-27:before {
	content: "\E01B";
}

.icon-first-28:before {
	content: "\E01C";
}

.icon-first-29:before {
	content: "\E01D";
}

.icon-first-30:before {
	content: "\E01E";
}

.icon-first-31:before {
	content: "\E01F";
}

.icon-first-32:before {
	content: "\E020";
}

.icon-first-33:before {
	content: "\E021";
}

.icon-first-34:before {
	content: "\E022";
}

.icon-first-35:before {
	content: "\E023";
}

.icon-first-36:before {
	content: "\E024";
}

.icon-first-37:before {
	content: "\E025";
}

.icon-first-38:before {
	content: "\E026";
}

.icon-first-39:before {
	content: "\E027";
}

.icon-first-40:before {
	content: "\E028";
}

.icon-first-41:before {
	content: "\E029";
}

.icon-first-42:before {
	content: "\E02A";
}

.icon-first-43:before {
	content: "\E02B";
}

.icon-first-44:before {
	content: "\E02C";
}

.icon-first-45:before {
	content: "\E02D";
}

.icon-first-46:before {
	content: "\E02E";
}

.icon-first-47:before {
	content: "\E02F";
}

.icon-first-48:before {
	content: "\E030";
}

.icon-first-49:before {
	content: "\E031";
}

.icon-first-50:before {
	content: "\E032";
}

.icon-first-51:before {
	content: "\E033";
}

.icon-first-52:before {
	content: "\E034";
}

.icon-first-53:before {
	content: "\E035";
}

.icon-first-54:before {
	content: "\E036";
}

.icon-first-55:before {
	content: "\E037";
}

.icon-first-56:before {
	content: "\E038";
}

.icon-first-57:before {
	content: "\E039";
}

.icon-first-58:before {
	content: "\E03A";
}

.icon-first-59:before {
	content: "\E03B";
}